body {
  background-color: #1D2F6F;
  color: #FAC748;
  text-align: center;
}
.App {
  text-align: center;
}

textarea {
  width: 400px;
  height: 200px;
}
button {
  width: 100px;
  height: 50px;
  color: #1D2F6F;
  background-color: #FAC748;
  border: 10px solid  #FAC748;
  border-radius: 10px;
  font-size: 12px;

}
.guia {
  border: 3px solid;
  border-radius: 20px;
  background-color: #FAC748;
  color: #1D2F6F;
  margin: auto;
  width: 50%;
  padding: 10px;
}

li {
  list-style: none;
}

.exception {
  color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
